<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Hello, Kartik 👋</h1>
    <p>This is your basic HTML page.</p>
    <form method = 'POST'>
        <button type = "submit" name = "button" value = "signup">Signup</button> 
        <button type="submit" name = "button" value = "login">Login</button>
    </form>
    
    <script>
        
    </script>

</body>
</html>
